In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
##The help function is used to display the documentation of modules, functions, classes, etc

In [ ]:
help(print) ##getting to know what all can be done with the print function

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
## accesing attributes /methods of any object to understand pre-loaded attributes
import math
dir(math) ##checking attributes in the math library

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [ ]:
##Class string
##data types that can be assigned in python (given in bootcamp course)
## data type assignment at initialisation may not be required as python is dynamically typed language
name = "John" + "Smith" ##printing concatenation of the string type
print(name)
print(type(name))

JohnSmith
<class 'str'>

In [ ]:
##class integer
x = 10
print(x)
print(type(x)) ## note that this datatype can be type-casted

10
<class 'int'>

In [ ]:
##class float
decimal = 3.14
print(decimal)
print(type)

3.14
<class 'type'>

In [ ]:
###lists (extremely essential for jobs)
groceries = {'apples', 'kiwis', 'mangos'} ##this is how lists are typed in Python
print(groceries)
print(type(groceries))

{'mangos', 'kiwis', 'apples'}
<class 'set'>

In [ ]:
## class list, but tuples (these cannot be changed) ## multiple data types in one thing, for example a number and a string, also data pairs as in dictionaries
a = [(1,2), (3,4,5), (6,7)]
print(a)
print(type(a))

[(1, 2), (3, 4, 5), (6, 7)]
<class 'list'>

In [ ]:
##class set
sets = set((1, 2, 3, 5))
print(sets)
print(type(sets))

{1, 2, 3, 5}
<class 'set'>

In [ ]:
##class dictionary
hpc = {'Harry': 'Wizard', 'Dumbledore': 'Headmaster', 'Snape':'Dark Arts'} ##rememeber to use curly braces
print(hpc)
print(type(hpc))

{'Harry': 'Wizard', 'Dumbledore': 'Headmaster', 'Snape': 'Dark Arts'}
<class 'dict'>

In [ ]:
## class boolean
boolean = True
print('Boolean:', boolean)
print(type(boolean))

Boolean: True
<class 'bool'>

In [ ]:
##None Type
none_type = None
print(type(none_type))

<class 'NoneType'>

In [ ]:
## commonly used operators in python
a = 10
b = 4
print('Add:', a+b)
print('Subtract:', a-b)
print('Divide', a/b) #returns the value in float
print('Multiply', a*b)
print('Floor Division:', a/b)
print('Mod:', a%b) #returns the value in integer
print('Power', a**b)

Add: 14
Subtract: 6
Divide 2.5
Multiply 40
Floor Division: 2.5
Mod: 2
Power 10000

In [ ]:
##variable swapping techniques
a = 10
b = 6
print('a and b before swapping:', a,b)
a, b = b, a
print('a and b after swapping', a,b)

a and b before swapping: 10 6
a and b after swapping 6 10

In [ ]:
## swapping three variables ##be mindful of not writing all three variables in the same line
a = 3 
b = 4 
c = 5
print('a and b before swapping:', a, b, c)

a, b, c = c, a, b
print('a, b, c after swapping:', a, b ,c)

a and b before swapping: 3 4 5
a, b, c after swapping: 5 3 4

In [ ]:
##swapping with different data types

In [ ]:
## swapping three variables ##be mindful of not writing all three variables in the same line
a = 3 
b = 4 
c = 'sid' #string data type
print('a and b before swapping:', a, b, c)

a, b, c = c, a, b
print('a, b, c after swapping:', a, b ,c)

a and b before swapping: 3 4 sid
a, b, c after swapping: sid 3 4

In [ ]:
##type casting in python
## string to integer
x = '10'
print(type(x))
print('integer typecasted is:', int(x))
print(type(x))

<class 'str'>
integer typecasted is: 10
<class 'str'>

In [ ]:
#string to float
print('float typecasted is:', float(x))

float typecasted is: 10.0

In [ ]:
 x = '1' + '0' ## integer to string conversion and concatenation

print('integer to string conversion:', x)

integer to string conversion: 10

In [ ]:
##switching from set to list
s = set((1, 2, 3, 5, 8))
list_s = list(s)
print(list_s)

[1, 2, 3, 5, 8]

In [ ]:
## switching from tuple to list
tuples = ((1,2), (1, 'Ginny'), (4, 'Hogwarts'))

list_tup = list(tuples)
print(list_tup)

[(1, 2), (1, 'Ginny'), (4, 'Hogwarts')]

In [ ]:
## ascii value of alpha-numeric characters
print(chr(104))

h

In [ ]:
## string to ascii
print(ord('x'))

120

In [ ]:
##built in functions
#RANDOM

In [ ]:
##ascii equivalent of '9' is tab
import random
#adding the start and end parameters
print('Generating a random value:', end='') ##end is used to print in the same line
print(random.randint(6, 10)) ##range start and end are inclusive

Generating a random value:7

## using the math library for faster math operations

In [ ]:
import math

print('in-built constant pi', math.pi)
print('the square root of 2209 will be:', math.sqrt(2209))
print('the floor value of 3.426 is:', math.floor(3.426))

in-built constant pi 3.141592653589793
the square root of 2209 will be: 47.0
the floor value of 3.426 is: 3

In [ ]:
##using the date-time method
import datetime
date=datetime.datetime.now() ##printing current date and time
print(date)
print(type(date)) ##note this has a unique class

2021-06-27 23:46:30.339292
<class 'datetime.datetime'>

In [ ]:
#Lists!
##initialising a list
list_1 = list()
print()

##data type of the list variable
print('list_1:', type(list_1))
print('\n')

##defining and printing a numeric list
list_num = [1, 2, 3, 4]
print('list_num:', list_num)
print('\n')

##list with objects (multiple data types)
list_object = ['1', '5', 347, '%']
print('list_object:', list_object)


list_operator = [1*2, 'art'+'ist', 10/2] ## mathetimatical operator auto included in list, string concatenation and mathematical operators together in the list (multiple data types)
print('list_ops:', list_operator)

list_1: <class 'list'>


list_num: [1, 2, 3, 4]


list_object: ['1', '5', 347, '%']
list_ops: [2, 'artist', 5.0]

In [ ]:
### accesing values from a list (python does allow negative indexing)
print(list_object)
print('First element:',list_object[0] )

['1', '5', 347, '%']
First element: 1

In [ ]:
## executing all values from beginning to end
print(list_object[:])

['1', '5', 347, '%']

In [ ]:
##skipping a few values (note python ranges are inclusive)
print(list_object[0:3:2]) ##at one step i.e every second value within the range is printed

['1', 347]

In [ ]:
##negative elements

Modifying Lists

In [ ]:
## adding objects or values to the list
list_object.extend([0,1.2])
print(list_object)

['1', '5', 347, '%', 0, 1.2]

In [ ]:
##making range of value changes or adding elements/objects to the list at a specified range (while replacing existing items)
subset_items = [10, 7, 9]
list_object[0:3] = subset_items
print(list_object)

[10, 7, 9, '%', 0, 1.2]

In [1]:
##delete an element
list_object = [1, 2, 12, 12, 12, 3, 4, 5, 6]
list_object.pop(0) ##queue, pops the indexed element out of a list 
list_object.pop() ## stack (the element popped out in the first command is put back in, then stack pops out and gives the last element)
list_object.pop(3) #index (last element)
print(list_object)

12

In [2]:
##giving out error message when someone tries to remove a value from the list at a non-existent index position
try:
  list_object.remove(10)
except:
  print('element not in the list')
print(list_object)

element not in the list
[2, 12, 12, 3, 4, 5]

In [4]:
#For Loop 
for i in range (0,5): ## note that the ending number is not inclusive in range same as in indexing
  print(i, end = '')

01234

In [5]:
## adding step parameter
for i in range(10, 2, -2): ## here also the last step value is not included
  print(i, end = '')

10864

In [6]:
## printing values from a list or printing values in the format of a list
sums = [1, 1, 3, 5]
for number in sums:
  print(number)

1
1
3
5

In [7]:
## one-line loop (special type of loop) note here we didn't use colons
sum_upto_10 = [i for i in range(11)]
print(sum_upto_10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
##one liner nested for loop matrix multiplication note here we don't use colons
matrix_mul = [j*i for i in range(5) for j in range(5, 10 )]
print('matrix looks like:', matrix_mul)

matrix looks like: [0, 0, 0, 0, 0, 5, 6, 7, 8, 9, 10, 12, 14, 16, 18, 15, 18, 21, 24, 27, 20, 24, 28, 32, 36]

In [11]:
a = ['Hello', 'world', '!'] ##string data type
print(len(a))
## iterable method 1
print('Iterable Method 1:') ##like we created dictionary pairs of our own
for i in range(len(a)):
  print(i,a[i])

3
Iterable Method 1:
0 Hello
1 world
2 !